In [4]:
import pandas as pd

df = pd.read_parquet('/home/jasonx62301/for_python/data_mining/project/dataset/train_processed.parquet')
df = df.drop(columns=[f"X{i}" for i in range(1, 891)])

In [7]:
df.describe()

,timestamp,bid_qty,ask_qty,buy_qty,sell_qty,volume,label,buy_qty_diff,volume_pct_change,hour,minute,dayofweek,day,month,hour_sin,hour_cos,minute_sin,minute_cos,dayofweek_sin,dayofweek_cos
count,525887,525887.000000,525887.000000,525887.000000,525887.000000,525887.000000,525887.000000,525887.000000,525887.000000,525887.000000,525887.000000,525887.000000,525887.000000,525887.000000,525887.000000,5.258870e+05,525887.000000,5.258870e+05,525887.000000,525887.000000
mean,2023-08-30 23:19:32.652489728,9.968003,10.174169,131.726678,132.673944,264.400622,0.036126,-0.000171,8.002540,11.505464,29.499845,2.996872,15.758904,6.512502,-0.000821,4.919855e-05,0.000045,1.561389e-04,0.004230,-0.003683
min,2023-03-01 00:00:00,0.001000,0.001000,0.000000,0.000000,0.000000,-24.416615,-13266.606000,-1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,-1.000000,-1.000000e+00,-1.000000,-1.000000e+00,-0.974928,-0.900969
25%,2023-05-31 09:43:30,2.634000,2.678000,26.407000,27.021000,60.688500,-0.381585,-31.944000,-0.389046,6.000000,14.000000,1.000000,8.000000,4.000000,-0.707107,-7.071068e-01,-0.743145,-6.691306e-01,-0.781831,-0.900969
50%,2023-08-30 22:44:00,6.415000,6.538000,57.015000,58.047000,120.799000,0.016262,-1.274000,-0.040955,12.000000,29.000000,3.000000,16.000000,7.000000,0.000000,-1.836970e-16,0.000000,2.832769e-16,0.000000,-0.222521
75%,2023-11-30 11:44:30,13.085000,13.330000,127.639000,129.110000,256.733500,0.434135,29.276000,0.564209,18.000000,45.000000,5.000000,23.000000,10.000000,0.707107,7.071068e-01,0.743145,7.431448e-01,0.781831,0.623490
max,2024-02-29 23:59:00,1114.932000,1352.965000,17614.400000,17686.234000,28701.419000,20.740270,17113.392000,1000000.000000,23.000000,59.000000,6.000000,31.000000,12.000000,1.000000,1.000000e+00,1.000000,1.000000e+00,0.974928,1.000000
std,NaN,15.645741,15.889582,307.267251,309.803040,588.618746,1.009914,277.265674,2757.925310,6.923243,17.319353,1.994372,8.812309,3.451533,0.707027,7.071871e-01,0.707157,7.070582e-01,0.707299,0.706894

In [11]:
test_df = pd.read_parquet('/home/jasonx62301/for_python/data_mining/project/test.parquet')
test_df.head()

,bid_qty,ask_qty,buy_qty,sell_qty,volume,X1,X2,X3,X4,X5,...,X882,X883,X884,X885,X886,X887,X888,X889,X890,label
ID,,,,,,,,,,,,,,,,,,,,,
1,0.114,12.121,10.587,10.971,21.558,-0.732818,0.512331,-0.041982,-0.598260,-0.517646,...,1.014336,1.367567,1.584126,1.584126,1.584126,1.584125,1.567979,1.426368,2.192682,0.0
2,2.426,2.962,136.241,12.304,148.545,-0.337995,-0.412176,-0.259468,-0.334809,-0.247443,...,1.748939,1.848177,0.000131,0.000323,0.001746,0.007319,0.050925,0.142206,0.739759,0.0
3,1.085,2.343,23.390,57.171,80.561,0.111249,0.458221,0.466916,0.574081,0.324722,...,1.704680,1.772028,0.000550,0.003597,0.009265,0.019948,0.072535,0.169672,0.807862,0.0
4,14.793,1.117,116.518,13.082,129.600,-0.149399,-0.640638,-0.873778,-1.026144,-0.508816,...,0.930946,1.037839,1.382037,1.382037,1.382037,1.382037,1.381752,1.363445,2.465509,0.0
5,0.033,14.178,43.800,49.836,93.636,-0.694662,0.611254,0.067671,-0.531632,-0.581450,...,1.080267,1.141878,0.000363,0.012718,0.137533,0.464112,1.050577,1.268567,2.499015,0.0

In [12]:
submission_df = pd.read_csv('/home/jasonx62301/for_python/data_mining/project/sample_submission.csv')   
submission_df.head()

   ID  prediction
0   1   -0.280233
1   2    1.371969
2   3   -2.045252
3   4   -1.447555
4   5   -1.303901

In [ ]:
df = pd.read_parquet('/home/jasonx62301/for_python/data_mining/project/dataset/train_processed.parquet')
# df.corr(numeric_only=True)['label'].drop('label').sort_values(key=abs, ascending=False).head(20)
print(df.corr(numeric_only=True)['label'].drop('label').sort_values(key=abs, ascending=False).head(250))

X21     0.069401
X20     0.067667
X28     0.064092
X863    0.064057
X29     0.062339
X19     0.062293
X27     0.062251
X22     0.057676
X858    0.057320
X219    0.056713
X860    0.056259
X531   -0.056184
X287    0.055893
X289    0.055892
X291    0.055435
X293    0.055291
X857    0.054686
X295    0.054637
X598    0.054528
X218    0.053676
Name: label, dtype: float64